.AnaUyelik {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  height: 672px;
  width: 1440px;
}
.AnaUyelik-nav-logo {
  width: 100%;
  display: flex;
  align-items: center;
}
.AnaUyelik-nav-logo-img {
  position: absolute;
  width: 140.63px;
  height: 116.07px;
  left: 90px;
  top: 34px;
}
.AnaUyelik-nav-logo-h1 {
  position: absolute;
  width: 574px;
  height: 36px;
  left: 433px;
  top: 74px;
  font-family: "Georama";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 36px;
  text-transform: uppercase;
  color: #467888;
}
.AnaUyelik-main {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.AnaUyelik-main-left-img {
  position: absolute;
  width: 208px;
  height: 208px;
  top: 253px;
  left: 301px;
}
.AnaUyelik-main-left-img:hover {
  
  transform: scale(1.1);
  transition: 0.5s;
  filter: brightness(150%)
}
.AnaUyelik-main-left-p {
  position: absolute;
  width: 265px;
  height: 36px;
  left: 271px;
  top: 535px;
  font-family: "Georama";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #455a64;
}
.AnaUyelik-main-right-img {
  position: absolute;
  width: 208px;
  height: 208px;
  left: 936px;
  top: 253px;
}
.AnaUyelik-main-right-img:hover {
  
  transform: scale(1.1);
  transition: 0.5s;
  filter: brightness(150%)
}
.AnaUyelik-main-right-p {
  position: absolute;
  width: 265px;
  height: 36px;
  left: 909px;
  top: 535px;
  font-family: "Georama";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #455a64;
}
