.HomeLastComp {
  position: absolute;
  top: 4338px;
}
.HomeLastCompLogo {
  position: relative;
  width: 1728px;
  height: 182px;
  /* left: 753px; */
  top: 54px;
}
.HomeLastCompText {
    position: relative;
    width: 691px;
    height: 50px;
    left: 518px;
    top: 93px;
    
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;    
    text-align: center;
    
    color: rgba(69, 90, 100, 0.9);
    
}