.Carouselx {
  position: absolute;
  top: 3648px;
  width: 1728px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Carouselx-Text {
  font-family: "Georama", sans-serif;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  line-height: 57px;
  color: #455a64;
  margin-bottom: 75px;
}

.Carouselx-Box {
  width: 1728px;
  height: 558px;
  background-image: url(../assets/musteri-yorumlari.svg);
  background-size: cover;
}
.mustericarousel {
  margin: auto;
  margin-top: 103px;
  height: 352px;
  width: 690px;
}

.Carouselx-Button {
  margin-top: 100px;
}

.button-span-right {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(../assets/arrow-right-circle.svg);
  background-size: cover;
}
.button-span-left {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(../assets/arrow-left-circle.svg);
  background-size: cover;
}